---
title: Home
layout: default
---

<!-- Recent Posts
================================================== -->
<span class="index-heading">💡 Recent Posts</span>
<span class="more-icon">
    <a href="{{site.baseurl}}/blog">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right">
        <line x1="5" y1="12" x2="19" y2="12"></line>
        <polyline points="12 5 19 12 12 19"></polyline>
    </svg>
    </a>
</span>
<span class="index-subheading">Collection of mixed contents</span>

<div class="blog-grid-container owl-carousel owl-theme index-page">
    {% for post in site.posts limit:5 %}
        {% include postbox-index.html %}
    {% endfor %}
</div>

<!-- Videos
================================================== -->
<span class="index-heading">📺 Videos</span>
<span class="index-subheading">Explanatory videos</span>
<div class="blog-grid-container owl-carousel owl-theme video-section">
    {% for video in site.videos limit:6 %}
    {% include videobox.html %}
    {% endfor %}
</div>
<!-- Science
================================================== -->
<span class="index-heading">🎯 Science</span>
<span class="index-subheading">Explore the latest in science.</span>
<div class="blog-grid-container owl-carousel owl-theme index-page">
    {% assign filtered_posts_action = site.posts | where: 'category', "science" | where_exp:"post","post.is_generated != true" %}
    {% for post in filtered_posts_action limit:5 %}
    {% include postbox-index.html %}
    {% endfor %}
</div>

<!-- Categories
================================================== -->
<span class="index-heading">📂 Categories</span>
<span class="index-subheading">Explore our categories for awesome contents.</span>
<div class="blog-grid-container owl-carousel owl-theme category-section">
    {% for category in site.category %}
    {% include category.html %}
    {% endfor %}
</div>

<!-- Facts
================================================== -->
<span class="index-heading">🤪 Crazy Facts</span>
<span class="index-subheading">Some crazy things happening on Earth</span>
<div class="blog-grid-container owl-carousel owl-theme crazy-facts-section">
   {% for fact in site.facts limit:5 %}
   {% include facts.html %}
   {% endfor %}
</div>

<!-- Recommended Books
================================================== -->
<span class="index-heading">📚 Suggested Books</span>
<span class="more-icon">
    <a href="{{site.baseurl}}/blog">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right">
        <line x1="5" y1="12" x2="19" y2="12"></line>
        <polyline points="12 5 19 12 12 19"></polyline>
    </svg>
    </a>
</span>
<span class="index-subheading">Sponcered by Amazon India.</span>
<div class="blog-grid-container owl-carousel owl-theme book-section">
    {% for book in site.books limit:8 %}
    {% include amzn-book.html %}
    {% endfor %}
</div>

<!-- lapidify Specials
================================================== -->
<span class="index-heading">Lapidify Feed</span>
<span class="index-subheading">Explore our offers and other services.</span>
<div class="blog-grid-container">
    {% for lapidify in site.lapidify %}
    {% include lapidify.html %}
    {% endfor %}
</div>

