<div class="lapidify" style="background: linear-gradient(to bottom right, #{{lapidify.bg_color}}, #ee097900);">
    <div class="lapidify-body">
        <span class="lap-heading" style="color: #{{lapidify.color}};">{{lapidify.title}}</span>
        <span class="lap-description">{{lapidify.desc}}</span>
    </div>
    <div class="footer-btn">
        <a class="lap-button" href="{{lapidify.link}}" style="color: #{{lapidify.bg_color}};background: #{{lapidify.color}}">{{lapidify.button}}</a>
    </div>
    </div>